.conteiner-sobre{
    width: 100vw;
    height: 85vh;
    background-color:#FE8362;
}

.grid-conteiner-sobre{
    width: 100vw;
    height: 85vh;
    display: grid;
    grid-template-areas: 
    'titulo titulo'
    'foto texto';
    grid-template-rows: 1fr 6fr;
    
}

.lado-texto-sobre{
    grid-area: texto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.lado-titulo-sobre{
    display: flex;
    grid-area: titulo;
    align-items: flex-end;
    justify-content: center;
}