.conteiner-projeto{
    background-color: #764248;
    width: 100vw;
    height: 85vh;
}


.grid-conteiner-projeto{
    width: 100vw;
    height: 85vh;
    display: grid;
    grid-template-rows: 1fr 6fr;
    grid-template-areas: 
    'titulo-projeto '
    'boxs-projeto';
    

}
.lado-titulo-projeto{
    grid-area: titulo-projeto;
    display: flex;
    align-items: flex-end;
    justify-content: center;

}
.lado-boxs-projeto{
    
    grid-area: boxs-projeto;
    position: relative;
    flex-wrap: wrap;
}
.grid-lado-box-projeto{

    position: absolute;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    align-items:center;
    justify-items: center;
}
.box-projeto{
    width: 380px;
    height: 220px;
    background-color: #264DE4;
    border-radius: 20px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.estilo-box-projeto {
    background-color: #E44D26;
    height: 40%;
    width: 80%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    animation: shadow-pop-tr 2s linear alternate infinite; 
}