<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Lista de Tarefas {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'lista_de_tarefas/assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&amp;display=swap">


</head>
<body>
    <header>
        {% block header %}
            {% include 'lista_de_tarefas/header.html' %}
        {% endblock header %}
    </header>

    <main>

        {% block content %}

        {% endblock content %}
        <script src="{% static 'lista_de_tarefas/assets/bootstrap/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'lista_de_tarefas/assets/js/startup-modern.js' %}"></script>
        <script src="{% static 'lista_de_tarefas/assets/js/mode.js' %}"></script>



    </main>

    <footer>
        {% block footer %}
            {% include 'lista_de_tarefas/footer.html' %}
        {% endblock footer %}
    </footer>
</body>
</html>
