{% extends 'lista_de_tarefas/base.html' %}
{% load static %}

{% block title %}Criar Tarefas{% endblock %}

{% block content %}
    <div class="container" style="min-height: 60vh;">
        <div class="row ">
            <div class="col ">
                <h1 class="display-3 text-center">Criar Tarefa</h1>
            </div>
        </div>
        <div class="m-3"></div>
        <div class="row ">
            <div class="col">
                <form  method="POST" action="{% url 'criar_tarefa' %}">
                    {% csrf_token %}
                    <input class="form-control m-3" type="text" name="nome" placeholder="Nome" maxlength="100" required="">
                    <textarea class="form-control m-3" name="descricao" placeholder="Descrição" maxlength="500" required=""></textarea>
                    <input class="btn m-3" type="submit" style="color: var(--bs-light);background: var(--bs-blue);">
                    {% if messages %}
                            {% for message in messages %}
                                <div class="alert alert-{{ message.tags }} text-center">
                                    {{ message }}
                                </div>
                            {% endfor %}
                         {% endif %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}