{% extends 'lista_de_tarefas/base.html' %}
{% load static %}

{% block title %}Criar Tarefas{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="display-3 text-center">Criar Tarefa</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <form><input class="form-control" type="text" name="nome" placeholder="Nome" maxlength="100" required=""><textarea class="form-control" name="descricao" placeholder="Descrição" maxlength="500" required=""></textarea><input class="btn" type="submit" style="color: var(--bs-light);background: var(--bs-blue);"></form>
            </div>
        </div>
    </div>
{% endblock %}