{% extends 'lista_de_tarefas/base.html' %}
{% load static %}

{% block title %}
    <title> Criar Tarefa </title>
{% endblock title %}


{% block content %}

        <div class="container-fluid w-50 p-3 ">
            <div class="d-flex justify-content-center">
                <h1>Criar Tarefas</h1>
            </div>
            <div class="container-fluid ">
                     <form class="d-flex justify-content-center flex-column" method="POST" action="{% url 'criar_tarefa' %}">
                         {% csrf_token %}
                        <div class="mb-3"><input class="form-control" type="text" name="nome" placeholder="Nome" maxlength="100" required></div>
                        <div class="mb-3"><input class="form-control" type="text" name="descricao" placeholder="Descrição" maxlength="500" ></div>
                        <button type="submit" class="btn btn-primary btn-lg btn-block">Criar</button>
                         {% if messages %}
                            {% for message in messages %}
                                <div class="alert alert-{{ message.tags }} text-center">
                                    {{ message }}
                                </div>
                            {% endfor %}
                         {% endif %}
                    </form>
            </div>
        </div>

{% endblock content %}