{% extends 'lista_de_tarefas/base.html' %}
{% load static %}

{% block title %}Editar Tarefas{% endblock %}

{% block content %}
    <div class="container" style="min-height: 60vh;">
        <div class="row">
            <div class="col">
                <h1 class="display-3 text-center">Editar Tarefa</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <form method="POST" class="d-flex justify-content-center flex-column">
                    {% csrf_token %}
                    {{form}}
                    <button type="submit" class="btn btn-warning">Editar</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
