<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

{% block title %}Excluir Tarefas{% endblock %}

{% block content %}
    <div class="container" style="min-height: 60vh;">
        <div class="row">
            <div class="col">
                <h1 class="display-3 text-center">Excluir Tarefa</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <form>
                    {% csrf_token %}
                    <input class="form-control m-3" type="text" readonly="">
                    <textarea class="form-control m-3" readonly=""></textarea>
                    <input class="btn btn-danger m-3" type="submit">
                </form>
            </div>
        </div>
    </div>
{% endblock %}
