<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>lista_de_tarefa</title>

</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="display-3 text-center">Excluir Tarefa</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <form><input class="form-control" type="text" readonly=""><textarea class="form-control" readonly=""></textarea><input class="btn btn-danger" type="submit"></form>
            </div>
        </div>
    </div>

</body>

</html>