{% extends 'lista_de_tarefas/base.html' %}
{% load static %}

{% block title %}Lista de Tarefas{% endblock %}

{% block content %}

    <section class="py-5">
        <div class="container py-4 py-xl-5">
            <div class="row gy-4 gy-md-0">
                <div class="col-md-6 text-center text-md-start d-flex d-sm-flex d-md-flex justify-content-center align-items-center justify-content-md-start align-items-md-center justify-content-xl-center">
                    <div style="max-width: 350px;">
                        <h1 class="display-5 fw-bold mb-4"><span class="underline"></span><strong><span style="color: rgb(35, 33, 21); background-color: rgb(254, 253, 252);">ORGANIZE SEU TRABALHO E SUA VIDA, FINALMENTE.</span></strong></h1>
                        <p class="text-muted my-4"><span style="color: rgb(33, 37, 41);">Torne-se focado, organizado e calmo com Lista de Tarefas. O gerenciador de tarefas e aplicativo de lista de tarefas número 1000 do mundo.</span></p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div><img class="rounded img-fluid w-100 fit-cover" style="min-height: 300px;" src="{% static 'lista_de_tarefas/assets/img/illustrations/startup.svg' %}"></div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}


