{% extends 'lista_de_tarefas/base.html' %}
{% load static %}

{% block title %}Logar{% endblock %}

{% block content %}
    <section class="py-4 py-md-5 my-5">
        <div class="container py-md-5">
            <div class="row">
                <div class="col-md-6 text-center"><img class="img-fluid w-100" src="{% static 'lista_de_tarefas/assets/img/illustrations/login.sv' %}g"></div>
                <div class="col-md-5 col-xl-4 text-center text-md-start">
                    <h2 class="display-6 fw-bold mb-5"><span class="underline pb-1"><strong>Login</strong><br></span></h2>
                    <form data-bs-theme="light" action="{% url 'logar' %}" method="post">
                        {% csrf_token %}
                        <div class="mb-3"><input class="shadow form-control" type="email" name="username" placeholder="Username"></div>
                        <div class="mb-3"><input class="shadow form-control" type="password" name="password" placeholder="Password"></div>
                        <div class="mb-5"><button class="btn btn-primary shadow" type="submit">Log in</button></div>
                        {% if messages %}
                                        {% for message in messages %}
                                            <div class="alert alert-{{ message.tags }}">
                                                {{ message }}
                                            </div>
                                        {% endfor %}
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

